<section>
  <div class="flex relative justify-center lg:px-0 items-center lg:h-screen md:px-12 overflow-hidden">
    <div class="bg-white px-4 relative flex flex-1 flex-col lg:py-24 md:flex-none md:px-28 py-10 sm:justify-center xl:py-36 z-10">
      <div class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2 class="font-medium leading-tight text-black text-xl font-display">
              Contact Us
            </h2>
            <div class="py-3">
              <p class="text-gray-700">We're here to help! Please fill out the form below, and we'll get back to you as soon as possible.</p>
            </div>
          </div>
        </div>
        <form>
          <div class="space-y-6">
            <div>
              <label for="name" class="sr-only" name="name">Your Name</label>
              <input
                id="name"
                name="name"
                class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Your Name"
              />
            </div>
            <div>
              <label for="email" class="sr-only" name="email">Your Email</label>
              <input
                id="email"
                name="email"
                class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Your Email"
                type="email"
              />
            </div>
            <div>
              <label for="message" class="sr-only" name="message">Your Message</label>
              <textarea
                id="message"
                name="message"
                class="w-full focus:outline-none border py-3 appearance-none h-32 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Your Message"
              ></textarea>
            </div>
            <div class="col-span-full">
              <button
                class="items-center h-12 justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
