<div class=" p-32 rounded-3xl items-center">
      
      <!-- SVG Icon -->
      <div class="flex items-center justify-center mb-8">
        <svg class="h-20" viewBox="0 0 78 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z" class="ccustom" fill="#283CFF"></path>
          <path d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z" class="ccompli1" fill="#5263FF"></path>
          <path d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z" class="ccompli2" fill="#808CFF"></path>
        </svg>
      </div>

      <!-- Headline and Description -->
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
        We’re truly passionate about your vision
      </h1>
      <p class="text-base mt-4 text-gray-500">
        Our team will handle the technical development, infrastructure integration, and any support needed during the rollout.
      </p>
    </div>

      <!-- Call to Action Buttons -->
      <div class="flex justify-center gap-5 mt-10 flex-col sm:flex-row">
        <!-- First Button (Secondary) -->
        <a
          class="items-center justify-center text-white bg-accent-500 border-gray-300 h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex transition duration-200 lg:w-auto px-8 py-3 text-center w-full border hover:bg-gray-200 hover:text-black"
          href="https://github.com/michael-andreuzza/astrosaas"
          >About us
        </a>

        <!-- Second Button (Primary) -->
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black transition duration-200 focus-visible:ring-black hover:bg-transparent hover:text-black lg:w-auto px-8 py-3 text-center text-white w-full hover:border-black"
          href="https://lexingtonthemes.com"
          >Talk to us &nbsp; &rarr;
        </a>
      </div>

    </div>
  </div>
</div>
